.second-container {
  position: relative;
  text-align: center;
  color: #000;
}

.upper {
  text-transform: uppercase;
}

.article-date {
  color: #4070ff;
  font-weight: bold;
  margin-bottom: 15px;
}

.article-btn {
  border-bottom: 2px solid #4070ff;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.article-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.second-content {
  text-align: left;
  background-color: #fff;
  padding: 15px;
  width: 320px;
  height: 170px;
  position: absolute;
  bottom: 62px;
  right: 44px;
}

.second-img {
  width: 100%;
}
 .article-header {
   margin: 20px 30px;
 }