* {
  box-sizing: border-box;
  overflow-x: hidden;
}

a,
a:hover {
  color: white;
  text-decoration: none;
}

.color-blue {
  color: blue !important;
}

.color-gray {
  color: #a09797 !important;
}

.article-car-img {
  display: flex;
  margin: auto;
}

header {
  background-color: black;
  color: white;
}

.header-border-color {
  border-color: rgba(190, 182, 182, 0.5) !important;
}

.carousel-caption {
  top: 5rem;
  left: 4rem;
  bottom: auto;
}

.scroll-y-hidden {
  overflow-y: hidden !important;
}

.font-size {
  font-size: 1.2rem;
}

.top-carousel-indicators {
  left: 7.5rem !important;
  bottom: 2rem !important;
  justify-content: left !important;
}

.more-link {
  border-bottom: 4px solid #007bff !important;
}

.more-link1 {
  border-bottom: 4px solid #007bff !important;
  color: #515a63 !important;
  margin-left: 17px;
}

.img-bottom-caption {
  position: absolute;
  right: 15%;
  bottom: 2rem !important;
  left: 7.5rem !important;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}

.img-overlay-black {
  background: #2d242485;
  opacity: 0.8;
}

.img-overlay-dark {
  background: #060606eb;
  opacity: 0.8;
}

.img-overlay-light {
  background: #f9f9f9eb;
  opacity: 0.8;
}

.img-overlay-blue {
  background: #495ef9;
  opacity: 0.8;
}

.img-overlay-dark-blue {
  background: #0a1664;
  opacity: 0.8;
}

.img-overlay-red {
  background: #dc2a2ade;
  opacity: 0.8;
}

.card-text-sizing {
  font-size: 1.8rem;
  left: 4rem !important;
  bottom: 2rem !important;
  justify-content: left !important;
  position: absolute;
  color: #d6d6d6;
}

.card-text-position {
  color: white;
  top: 5rem;
  height: 80px;
}

.card-text-position-two {
  top: 15rem !important;
}

.card-button-position {
  left: unset !important;
  right: 1rem !important;
  bottom: 2.8rem !important;
  border: 1px white solid;
}

.text-border-bottom {
  border-bottom: 5px solid white;
  border-radius: 8%;
}

.font-sm {
  font-size: 1.4rem;
}

.font-xs {
  font-size: 1.2rem;
}

.font-xxs {
  font-size: 0.7rem;
}

.card {
  border: none !important;
  border-radius: unset !important;
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: unset !important;
  border-bottom-left-radius: unset !important;
}

.card-img,
.card-img-top {
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
}

.logo-sm {
  width: 11rem;
  height: 4.7rem;
}

.footer-sizing {
  width: fit-content;
  margin-top: 4.2rem;
  color: gray;
}

.contact {
  color: #5555ea;
  font-size: large;
  border-bottom: 2px solid #5555ea;
  font-weight: 600;
}

.footer-list {
  border: none !important;
  line-height: 0.2;
  color: gray;
  overflow-y: hidden;
}

.latest-news-img-lg {
  width: 48.9vw;
}

.latest-news-card-md {
  width: 28vw;
  position: absolute;
  left: 32%;
  top: 1.7rem;
  z-index: 1;
  background: transparent;
}

.latest-news-card-sm {
  width: 26vw;
  position: absolute;
  right: 0;
  top: 1vh;
  z-index: 1;
  background: transparent;
}

.latest-news-card-two-sm {
  width: 26vw;
  position: absolute;
  right: 0;
  top: 21vh;
  z-index: 1;
  background: transparent;
}

.latest-news-card-body-sm {
  width: 80%;
  background: white;
  position: absolute;
  right: 0;
}

.latest-news-card-body-md {
  background: white;
  position: absolute;
  bottom: 1.88rem;
  left: 3rem;
  right: 1.19rem;
}

.about-img-overlay {
  background: linear-gradient(0, #6569ec, #17141457);
  opacity: 0.8;
}

.contianer-about-card {
  background: white;
  position: absolute;
  top: 18%;
  right: 19.2%;
}

.font-size-lg {
  font-size: 1.5em;
  width: fit-content;
}

.article-caro img {
  height: 460px;
  width: 100%;
}

.article-caro {
  overflow: hidden;
}

.owl-item {
  height: 0;
}
.owl-item.active {
  height: auto;
}

/* .article-caro .small-img {
  width: 221px !important;
  height: 221px !important;
} */

div.card-horizontal.mb-6 > img {
  width: auto !important;
  height: auto !important;
}

/* .owl-item.active img {
  
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.5);
  transform: scale(1.2);
}

.owl-item.active img {

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.5);
  transform: scale(1);
} */

/* .owl-carousel .owl-item img {
  width: 60% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative;
  top: 35px;
} */

@media only screen and (max-width: 1024px) {
  .latest-news-card-body-md {
    background: white;
    position: absolute;
    bottom: 1.48rem;
    left: 3rem;
    right: 0.9rem;
    padding: 0.6rem;
  }
  .latest-news-card-md {
    width: 29vw;
    left: 36%;
  }
  .latest-news-card-sm {
    line-height: 1;
    font-size: 0.9rem;
    font-weight: normal;
  }
  .latest-news-card-two-sm {
    line-height: 1;
    font-size: 0.9rem;
    font-weight: normal;
  }
}
@media only screen and (min-width: 1440px) {
  .latest-news-card-sm {
    top: 3vh;
  }
  .latest-news-card-two-sm {
    top: 24vh;
  }
  .latest-news-img-lg {
    width: 54.9vw;
  }
  .latest-news-card-md {
    width: 32vw;
    left: 37%;
    top: 1.2rem;
  }
  .latest-news-card-body-md {
    bottom: 2.4rem;
    left: 3rem;
    right: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .contianer-about-card {
    position: unset;
    top: 2rem;
    right: 0;
    padding-right: 1rem !important;
  }

  .carousel-caption {
    top: 3rem;
    left: 1rem;
    bottom: auto;
  }

  .t-text {
    line-height: 0.9;
    text-align: left !important;
    font-size: 0.7rem;
    overflow-y: hidden;
  }

  #root > div > div:nth-child(10) > div:nth-child(2) > div > div > p:nth-child(2) {
    margin-bottom: 60px;
  }

  .card-text:last-child {
    margin-bottom: 0;
    margin-left: 10rem;
}
  .latest-news-card-body-md {
    bottom: 1.18rem;
    left: 3.2rem;
    right: 0.7rem;
  }

  .more-link-sizing {
    font-size: 0.7rem;
  }

  .card-text-sizing {
    font-size: 0.9rem !important;
    left: 2rem !important;
  }

  .latest-news-img-lg {
    width: 60vw !important;
  }
  .latest-news-card-two-sm {
    top: 17vh;
  }
  .latest-news-card-sm {
    top: 0;
  }
  .latest-news-card-md {
    left: 44%;
  }
  .about-us-img-card {
    width: 48rem;
  }
  .footer-list {
    line-height: 0.1;
  }
  .copy-right {
    text-align: left !important;
    padding-left: 5rem !important;
    padding-top: 0.4rem;
  }
}

@media only screen and (max-width: 425px) {
  .first-right-score-position {
    top: 2.4rem !important;
    left: 9.5rem !important;
  }

  .carousel-inner .carousel-item {
    height: 200px;
  }

  header .row {
    height: 60px;
  }
  .contianer-about-card {
    position: unset;
    top: 2rem;
    right: 0;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .card-text-sizing {
    font-size: 1.4rem;
  }

  .card-text-position {
    color: white;
    line-height: 1;
    top: 2rem;
  }

  .card-text-position-two {
    top: 10rem !important;
    line-height: 0.7;
    font-size: 1.1rem;
  }

  .article-btn {
    margin-left: 35%;
    
  }

  footer .card-img {
    height: 246px;
  }

  footer .card {
    height: 246px;
  }

  .h3,
  h3 {
    font-size: 1.25rem;
  }

  .h1,
  h1 {
    font-size: 0.9rem;
  }

  .p,
  p {
    font-size: 0.7rem !important;
  }

  .more-link {
    font-size: 0.5rem !important;
  }

  .top-carousel-indicators {
    bottom: -1rem !important;
    left: 1rem !important;
  }

  .carousel-inner .carousel-item > div {
    display: block;
  }

  .latest-news-img-lg {
    width: 100% !important;
  }

  .carousel-caption {
    top: -1rem;
    left: 0.7rem;
  }

  .footer-list {
    border: none !important;
    line-height: 0.4rem;
    overflow-y: hidden;
    font-size: 0.7rem;
  }

  .list-group-item {
    padding: 0.4rem 1.25rem !important;
  }

  .font-xs {
    font-size: 0.5rem !important;
  }
  .copy-right {
    text-align: left !important;
    padding-left: 3rem !important;
    padding-top: 2rem;
  }
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.color-gray-light {
  color: #d6c9c9;
}

.font-lg {
  font-size: 2.4em;
  font-weight: 600;
  padding-left: 1rem;
}

.img-overlay-red-gradient {
  background: linear-gradient(0, #d41a1a, #17141457);
  opacity: 0.8;
}

.img-overlay-blue-gradient {
  background: linear-gradient(0, #6569ec, #17141457);
  opacity: 0.8;
}

.card-img-overlay {
  overflow-y: hidden;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  height: 10rem;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 400px;
  margin-top: 20px;
}

.card-title {
  margin-top: 10px;
}

#root > div > div.article-caro > div > div.owl-stage-outer > div {
  height: 500px;
  margin-top: 20px;
}

.latest-news-carousel-inner-bg {
  background: #aba8a838;
}

.right-sm {
  right: 8rem;
}

.right-xs {
  right: 4rem;
}
@media (max-width: 380px) {
  .card-horizontal {
    width: 320px !important;
    margin-left: 1.5rem !important;
  }
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }

  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }

  .article-caro img {
    height: 300px !important;
  }

  .card-horizontal {
    height: 7rem;
    width: 350px;
    margin-left: 2.5rem;
  }

  #root > div > div.article-caro > div > div.owl-stage-outer > div {
    height: 300px;
    margin-top: 10px;
  }
  .top-carousel-indicators {
    bottom: -1rem !important;
    left: 3.6rem !important;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.about-background img {
  max-width: 50%;
  max-height: 50%;
}

.about-background:after {
  content: "";
  position: absolute;
  left: 4rem;
  right: 48%;
  /* width: 100%; */
  height: 100%;
  display: inline-block;
  background: linear-gradient(0, #6569ec, #17141457);
}

.overlay-about {
  background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-black {
  background: black;
  color: white;
}

.d-inline-imp {
  display: inline-block !important;
}

.first-right-score-position {
  top: 2.1rem;
  left: 10.5rem;
}

.second-right-score-position {
  top: 2.1rem;
  left: 11rem;
}

.third-right-score-position {
  top: 2.31rem;
  left: 9.5rem;
}

.about-us-container {
  top: 4rem;
  right: -22rem;
}

.figure-caption {
  text-align: center;
}

.h-fit-content {
  height: fit-content;
}

/*░░░░░░░░░░░░░░░░░░░░░░LeftNavigation scroll bar ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  background-color: #f5f5f5 !important;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 4px !important;
  background-color: #f5f5f5 !important;
}

::-webkit-scrollbar-thumb {
  background-color: gray !important;
}

@media (min-width: 768px) and (max-width: 1000px) {
  footer .card {
    height: 322px;
  }

  footer .card-img {
    height: 322px;
  }

  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }

  .carousel-inner .carousel-item > div {
    display: block;
  }
}